/*

!/README.md
!/.gitignore
!/winlink.bat
!/setup.sh

!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/elisp
!/.emacs.d/inits
/.emacs.d/elisp/bk/*

!/.vimrc

!/.zshrc

!/.tmux.conf

!/site-lisp
/site-lisp/*
!/site-lisp/siteinit.l
